#container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.timer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
}

.unit-container {
  border: solid 1px #ddd;
  border-radius: 4px;
  margin: 10px;
  width: 25%;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
} 

.unit-container h4 {
  font-size: 1.5em;
  margin: auto;
  padding-top: 15px;
}

.unit-container p {
  color: grey;
  margin: auto;
  padding-bottom: 15px;
}